 body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  }

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;color: rgb(46,105,163);
  margin-top: 20px;
  }
.nav {
margin:30px;
height:20px;
  background-color: #FFF;
  background:#a7e0ee;
}
.nav ul {
  display: inline;
 
}
.nav ul li {
  margin: 5px;
  padding: 20px;
  display: inline
   
}
.nav ul li a {
color:blue;
	
}
.nav ul li a:hover {
	color:white;
	
}
