 body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  }

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;color: rgb(46,105,163);
  margin-top: 20px;
  }
.nav {
margin:50px;
background:#14f4da;
}
.nav ul {
  display: inline;
  position:relative;
 
}
.nav ul li {
  margin: 0;
  padding: 20px;
  display: inline
  
}

.nav ul li a {
color:blue;
text-decoration:none;	
}
 
}
.nav ul li a:hover {
	color:white;
	
}
.nav ul li: hover ul {
display:block;
}
.nav ul ul {
display:none;	
position:absolute;
background-color:#11e3ca;
}
.nav ul ul li {
display:block;	
}
.nav ul ul li a,visted {
color:#11e3ca;
}
