 body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  }

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;color: rgb(46,105,163);
  }
nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline
}

nav ul {
  display: inline;
}
